Grupo-1/XMLs e XSDs/status.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="status">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requisicao" type="xs:string"/>
                <xs:element name="cpf">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{11}" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>